@media (min-width: 0px) and (orientation: landscape) {
    .toolBar{
        height: 4rem;
    }
}

@media (min-width: 600px) {
    .toolBar{
        height: 5rem;
    }
}

.generalInfo {
    height: 6rem;
}

.panel{
    height: 30rem;
}

.userInfo{
    height: 20rem;
}

.footer{
    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: 100;
}